html {
  scroll-behavior: smooth;
}

.SectionOne {
  padding-top : 50px;
  padding-bottom : 50px;
  background-color: #FFFFFF;
  overflow: hidden;
}

.SectionTwo {
  padding-top : 50px;
  padding-bottom : 50px;
  background-color: #F5F5F5;
  overflow: hidden;
}